.App {
  text-align: center;
  font-family: var(--font-family);
}

.dark {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

.light {
  background-color: var(--light-bg);
  color: var(--light-text);
}

.App-toggle-light {
  content: var(--light-switch-icon);
}
.App-toggle-dark {
  content: var(--dark-switch-icon);
}
